@{
    ViewData["Title"] = "Nova Atividade";
}
<div class="form-style">
    <h3 class="titulo-pagina">Cadastro de Imoveis</h3>
    <div class="linha-horizontal"></div>

    <form onsubmit="doCadastrarImovel(this); return false;">
        <fieldset class="fildsetCadastro">
            <div class="object-input">
                <div>
                    <label>Localização *</label>
                </div>
                <div>
                    <input type="text"
                           name="localizacao"
                           id="localizacao"
                           placeholder="Cidade / Bairro"
                           required />
                </div>
            </div>
            <div>
                <div>
                    <label>Matrícula</label>
                </div>
                <div>
                    <input type="text"
                           name="matricula"
                           id="matricula"
                           placeholder="N° de matricula"/>
                </div>
            </div>
            <div>
                <div>
                    <label>Cartório</label>
                </div>
                <div>
                    <input type="text"
                           name="cartorio"
                           id="cartorio"
                           placeholder="Digite o cartório"/>
                </div>
            </div>
            <div>
                <div>
                    <label>Livro</label>
                </div>
                <div>
                    <input type="text"
                           name="livro"
                           id="livro"
                           placeholder="Digite o livro"/>
                </div>
            </div>
            <div>
                <div>
                    <label>Situação da propriedade *</label>
                </div>
                <div>
                    <input type="text"
                           name="situacao"
                           id="situacao"
                           placeholder="Ex.: Regularizado"
                           required />
                </div>
            </div>
            <div>
                <div>
                    <label>Valor estimado do Imóvel *</label>
                </div>
                <div>
                    <input type="text"
                           name="valor"
                           id="valor"
                           placeholder="R$: 0,00"
                           required />
                </div>
            </div>
        </fieldset>
        <div class="btn-cad">
            <button class="btn-cadastrar" type="submit">Salvar</button>
        </div>
    </form>
</div>

<div class="modal-message" id="modalMessage">
    <div class="modal-message-content">
        <div class="modal-message-header" id="divMessage">
        </div>
        <div class="modal-conteudo">
            <button class="botao-message" onclick="closeModalMessage()">Continuar</button>
        </div>
    </div>
</div>
 
@section Scripts{
    <script>
        $("#valor").mask("R$: 00000000000000");

        function doCadastrarImovel(form) {
            try {
                var u = parseForm(form);
                const urlParams = new URLSearchParams(window.location.search);
                u.ClienteId = urlParams.get('id');
                $.ajax({
                    type: 'POST',
                    url: '/CadastrarImovel',
                    data: JSON.stringify(u),
                    success: function (data) {
                        openModalMessage("Imovel adicionado");
                        return data;
                    },
                    error: function () {
                        openModalMessage("Não foi possivel cadastrar o imovel");
                    },
                    contentType: "application/json"
                });
            } catch (e) {
                openModalMessage(e.message);
            }
        }

    </script>
    }