@{
    ViewData["Title"] = "Novo Usuário";
}
<div class="form-style">
    <h3 class="titulo-pagina">Cadastro de Usuário</h3>
    <div class="linha-horizontal"></div>
    <form onsubmit="doCadastrar(this); return false;">
        <fieldset class="fildsetCadastro">
            <div class="object-input">
                <div>
                    <label>Nome</label>
                </div>
                <div>
                    <input type="text"
                           name="Nome"
                           id="Nome"
                           placeholder="Ex.: Digite o nome do usuário"
                           required />
                </div>
            </div>
            <div class="object-input">
                <div>
                    <label>Tipo de Usuário</label>
                </div>
                <div>
                    <select class="filtro-tipos" title="TipoUsuario" id="TipoUsuario" name="TipoUsuario" required>
                        <option value="default">Tipo de Usuário</option>
                        <option value="1">Administrador</option>
                        <option value="2">Gerente</option>
                        <option value="3">Operador</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="fildset-padrao">
            <div>
                <div>
                    <label>Email</label>
                </div>
                <div>
                    <input type="email"
                           name="Email"
                           id="Email"
                           placeholder="Ex.: nome@email.com.br" 
                           required/>
                </div>
            </div>
        </fieldset>
        <fieldset class="fildset-padrao">
            <div>
                <div>
                    <label>Região</label>
                </div>
                <div>
                    <select class="filtro-tipos" title="Regiao" id="RegiaoId" name="RegiaoId">
                        <option value="0">Selecione uma região</option>
                        @foreach (dynamic Regiao in Model.Regioes)
                        {
                            <option value="@Regiao.Id">@Regiao.Nome</option>
                        }
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="btn-cad">
            <button class="btn-cadastrar" type="submit">Cadastrar</button>
        </div>
    </form>
</div>

<div class="modal-message" id="modalMessage">
    <div class="modal-message-content">
        <div class="modal-message-header" id="divMessage">
        </div>
        <div class="modal-conteudo">
            <button class="botao-message" onclick="closeModalMessage()">Continuar</button>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function doCadastrar(form) {
            try {
                var u = parseForm(form);
                $.ajax({
                    type: 'POST',
                    url: '/Cadastrar',
                    data: JSON.stringify(u),
                    success: function (data) {
                        openModalMessage("Usuário Cadastrado!");
                    },
                    error: function () {
                        openModalMessage("Não foi possível se cadastrar no sistema com os dados informados!");
                    },
                    contentType: "application/json"
                });
            } catch (e) {
                alert(e.message);
            }
        }
    </script>
    }